<div class="card-container">
    <div class="card">
        <img src="https://turbodetailmodels.com/cdn/shop/files/Dodgecharger19701.webp?v=1725983011" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">dodge charger</h5>
            <p class="card-text">El Dodge Charger no es un auto deportivo, es un auto de alta potencia. Los autos de alta potencia tienen una carrocería más amplia y confiable, y están diseñados para que el rendimiento sea su principal atributo.</p>
            <a href="#" class="btn btn-primary">adquirir</a>
        </div>
    </div>
    <div class="card">
        <img src="https://assets.iprofesional.com/assets/jpg/2020/10/505097.jpg?6.0.2" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">torino ARG</h5>
            <p class="card-text">El Torino fue desarrollado por IKA como un automóvil íntegramente argentino, combinando la carrocería 1964-1965 del Rambler American y el Classic, con diseños exclusivos de paneles delanteros, traseros y el interior rediseñados por Pininfarina.</p>
            <a href="#" class="btn btn-primary">adquirir</a>
        </div>
    </div>
    <div class="card">
        <img src="https://mail.nitro.pe/images/2018/enero/nissan_skyline.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Skyline</h5>
            <p class="card-text">El Nissan Skyline es un auto deportivo japonés con una larga historia de estilo y rendimiento. Ha tenido varias generaciones, desde el primer Skyline de 1957 hasta el moderno GT-R. </p>
            <a href="#" class="btn btn-primary">adquirir</a>
        </div>
    </div>
</div>