<!--<div *ngFor="let producto of productos; let i = index">
    <p>{{ i + 1}}. nombre: {{producto.nombre}}</p>|
    <p>Precio: {{ producto.precio }}</p>
</div>  

<div *ngIf="usuario.isLoggedIn">
    <p>Bienvenido, {{ usuario.nombre }}</p>
</div>
<div *ngIf="!usuario.isLoggedIn">
    <p>por favor, inicia sesion.</p>
</div>

<div [ngClass]="{'activo': usuario.activo, 'inactivo': !usuario.activo}">
    {{usuario.nombre}}
</div>-->

<form>
    <label for="nombre">nombre:</label>
    <input id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
    
    <button [disabled]="!usuario.nombre">enviar</button>
</form>