/* estilo general  */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}   

/* contenedor de la tarjeta  */
.card-container {
    display: flex;
    justify-content: center;
    /* central horizontalmente  */
    gap: 60px;
    /* espacio tarjeta */
    flex-wrap: wrap;
    /* permite que se acomode a la pantalla */
    padding: 20px;
}

/* tarjeta estilo  */
.card {
    width: 18rem;
    background-color: rgb(171, 171, 171);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0, 1)
}

/* efecto de la tarjeta  */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0, 2)
}

/*imagen dentro de la tarjeta */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* boton estilo */
.card .btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    transition: background 0.3s ease-in-out;
}

/*efecto de las tarjetas*/

.card .btn:hover {
    background-color: rgb(58, 59, 59);
}

/*al momento de achicar las pantallas se acomodan las columnas*/

@media (max-width:600px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}